@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
body {
    background-color: white;
    color: #111;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.part {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.part .limit {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.first {
    background-image: url(img/pexels-photo-106251.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.menu {
    background-color: rgba(255, 255, 255, 0.70);
    position: fixed;
    top: 0;
    z-index: 100000;
}

.menu :only-child {
    position: relative;
    top: 0;
    left: 0;
    color: #111;
    font-size: 18px;
    overflow: auto;
    padding: 12 0;
}

.menu .left {
    float: left;
    position: relative;
    font-weight: bold;
    font-size: 1.1em;
}

.menu .right {
    float: right;
    position: relative;
}

.menu .button {
    text-decoration: none;
    color: inherit;
    padding: 0 4;
    border-right: dotted #111 1px;
}

.menu .button:last-child {
    border-right: none;
}

.first .text {
    font-size: 200px;
    color: white;
    font-family: 'Indie Flower', cursive;
}

.triangle {
    background-color: white;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%) rotateZ(45deg);
}

.second {
    height: 560px;
    background-color: white;
    display: flex;
}

.textcenter {
    width: calc(100% - 40px);
    margin: auto 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.twin {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    position: relative;
    font-size: 15px;
    font-style: italic;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: brown;
    margin-top: 0;
}

.twin:last-child img {
    position: absolute;
    top: 0;
    left: 0;
}

#raspberry {
    width: 300px;
    height: auto;
    transform: translate(0, -50%);
}

#berries {
    width: 250px;
    height: auto;
    transform: translate(50%, 0);
}

.third {
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

.triangleup {
    background-color: white;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%) rotateZ(45deg);
    z-index: 100;
}

#one {
    background-image: url(img/food.jpg);
}

#two {
    background-image: url(img/food-dinner-lemon-rice.jpg);
}

#three {
    background-image: url(img/pexels-photo-65131.jpeg);
}

.tile {
    margin: 10px;
    width: calc(33% - 20px);
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.40);
    background-blend-mode: multiply;
}

.tile::before {
    content: '';
    padding-top: 100%;
    display: inline-block;
}

.frame {
    background-color: white;
    width: 70%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.fourth h1,
.frame h1 {
    text-align: center;
    margin: 40px 5px 0px 5px;
}

.fourth p,
.frame p {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fourth {
    font-size: 30px;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icons>div img {
    max-width: 120px;
    padding: 10px;
}

.icons>div {
    flex: 1;
    margin: 0 10px;
}

.newp {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-transform: none!important;
}

.icons p {
    margin: 2px 2px;
}

.icons p:nth-child(2) {
    color: brown;
    font-size: 25px;
}

#fifth {
    background-image: url("img/pexels-photo-177676.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.40);
    background-blend-mode: multiply;
}

.fourth {
    margin-bottom: 60px!important;
}

#fifth .frame {
    max-width: 30%;
}

.square {
    width: 48%;
    float: left;
    display: flex;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.square:first-child {
    margin-right: 1%;
}

.square:last-child {
    margin-left: 1%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#menu {
    background-image: url(img/food.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.20);
    background-blend-mode: multiply;
    padding-bottom: 48%;
}

.square .frame {
    width: 220px;
    height: 220px;
    display: table;
    background-color: transparent;
}

.square .bla {
    background-color: rgba(42, 42, 42, 0.9);
}

.bla {
    vertical-align: middle;
    display: table-cell;
}

.bla p {
    color: white;
}

#dishes {
    width: 100%;
}

.click {
    text-decoration: none;
    color: black;
    padding: 3 8px;
    border: 2px solid grey;
    font-size: 26px;
    transition: all 0.3s;
    transform: translateY(0);
    display: inline-block;
}

.click:hover {
    background-color: lightgray;
    transform: translateY(10px);
}

.map {
    height: 350px;
}

#truemapa {
    width: 100%;
    height: 100%;
}

#mapa .frame {
    width: 20%;
}